@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
/* Importamos la fuente Roboto de Google Fonts */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

html {
    background-color: aliceblue;
    font-size: 1.2rem;
}

/* Estilos del navbar */
/* Aquí está contenido todo el navbar */
#nav-bar { 
    color: azure;
    background-color: rgb(107, 134, 64);
    padding: 0.2rem;
    font-family: 'Roboto', sans-serif;
}

.nav-link {
    font-size: 1.2em;
    font-weight: 600;
    color: aliceblue;
    margin-left: 15px;
    margin-right: 20px;
}

.nav-link:hover {
    color: rgb(173, 171, 169);
}

.navbar-brand {
    margin-left: 15px;
    margin-right: 30px;
    padding: 0.35em;
}

/* Estilo del main y de cada article */
.main {
    width: 90%;
    margin: auto;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
}

.article {
    padding: 1.5em;
    margin-top: 0.8em;
    overflow: hidden;
}

/* El estilo de cada encabezado h2 dentro de la clase article */
.article h2 {
    font-weight: 800;
    font-size: 2em;
}

.article p {
    margin-top: 1.2rem;;
    text-align: justify;  
    line-height: 1.5;
}

.img {
    float: right;
    width: 40%;
    margin-left: 2rem;
    margin-bottom: 0.5rem;
}

/* Estilo del footer */
.footer {
    font-family: 'Roboto', sans-serif;
    margin-top: 1.3em;
    background-color: #0F1A20;
    padding: 1.5em;
}

.footer p {
    color: rgb(223, 233, 241);
    margin-bottom: 0;
}

.footer__p {
    margin-top: 0.8rem;
}

/* Estilos del link de contacto */
.contacto {
    color: rgb(188, 193, 197);
    font-weight: 600;
    text-decoration: underline;
}

.contacto:hover {
    color: rgb(151, 154, 156);
    font-weight: bolder;
    text-decoration: underline;
}
