@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
/* Importamos la fuente Roboto de Google Fonts */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

html {
    background-color: aliceblue;
    font-size: 1.2rem;
}

/* Estilos del navbar */
/* Aquí está contenido todo el navbar */
#nav-bar { 
    color: azure;
    background-color: rgb(107, 134, 64);
    padding: 0.2rem;
    font-family: 'Roboto', sans-serif;
}

.nav-link {
    font-size: 1.2em;
    font-weight: 600;
    color: aliceblue;
    margin-left: 15px;
    margin-right: 20px;
}

.nav-link:hover {
    color: rgb(173, 171, 169);
}

.navbar-brand {
    margin-left: 15px;
    margin-right: 30px;
    padding: 0.35em;
}

/* Estilo del main y de cada article */
.main {
    width: 70%;
    margin: auto;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
}

.article {
    padding: 1.5em;
    margin-top: 0.8em;
}

/* El estilo de cada encabezado h2 dentro de la clase article */
.article h2 {
    font-weight: 800;
    font-size: 1.7em;
}

.article p {
    margin-top: 1.2rem;;
    text-align: left;  
    line-height: 1.5;
}

/* Estilos de los articles referentes a los consejos */
.consejo {
    border: 1px solid lightgrey;
    border-radius: 0.6rem;
    background-color: whitesmoke; 
    /* Transición */
    transition: box-shadow 0.3s ease;
}

/* Al pasar el mouse por encima se muestra una sombra al elemento */
.consejo:hover {
    box-shadow: 0.1rem 0.3rem 0.4rem rgba(0, 0, 0, 0.3);
}

.consejo h2 {
    font-size: 1.2em;
}

.consejo p {
    width: 50%;
    text-align: justify;
    line-height: 1.4;
}

/* Los estilos para el título, el cual es un enlace */
.consejo h2 a {
    color: black;
    text-decoration: none;
}

.consejo h2 a:hover {
    color: rgb(3, 80, 3);
    text-decoration: underline;
    font-weight: 900;
}

/* Los estilos para los enlaces que dicen "Ver artículo" */
.ver-art {
    color: #333;
    font-weight: bold;
    text-decoration: underline;
}

.ver-art:hover {
    color: rgb(3, 80, 3);
    font-weight: 900;
}

.content {
    overflow: hidden;
}

/* Estilo aplicado a todas las imágenes, menos el margin-top de la primera, que se sobreescribe después */
.content img {
    float: right;
    margin-top: 0.7rem;
    margin-left: 2rem;
}

/* La primer imagen no tiene un margin-top */
#img-plantas {
    margin-top: 0;
}

#article-2, #article-3, #article-4 {
    margin-top: 3rem;
}

/* Estilo del footer */
.footer {
    font-family: 'Roboto', sans-serif;
    margin-top: 2.2em;
    background-color: #0F1A20;
    padding: 1.5em;
}

.footer p {
    color: rgb(223, 233, 241);
    margin-bottom: 0;
}

.footer__p {
    margin-top: 0.8rem;
}

/* Estilos del link de contacto */
.contacto {
    color: rgb(188, 193, 197);
    font-weight: 600;
    text-decoration: underline;
}

.contacto:hover {
    color: rgb(151, 154, 156);
    font-weight: bolder;
    text-decoration: underline;
}
