@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
/* Importamos la fuente Roboto de Google Fonts */

/* CSS reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

html {
    background-color: #f0f8ff;
    font-size: 1.2rem;
}

/* Estilos del navbar */
/* Aquí está contenido todo el navbar */
#nav-bar { 
    color: azure;
    background-color: #6b8640; 
    padding: 0.2rem;
    font-family: 'Roboto', sans-serif;
}

.nav-link {
    font-size: 1.2em;
    font-weight: 600;
    color: aliceblue;
    margin-left: 15px;
    margin-right: 20px;
}

.nav-link:hover {
    color: rgb(173, 171, 169);
}

.navbar-brand{
    margin-left: 15px;
    margin-right: 30px;
    padding: 0.35em;
}

.main {
    font-family: 'Roboto', sans-serif;
}

/* Estilos del banner y el texto */
.main-image {
    position: relative;
    background: url(../img/banner.jpg) no-repeat center;
    background-size: cover;
    height: 800px;
    overflow: hidden;
}   

.main-image h1 {
    font-weight: 800;
}

.text-container {
    width: 80%;
    text-align: justify;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: azure;
    font-weight: 700;
    text-transform: uppercase;
}

.container h1 {
    margin: 0;
    font-size: 70px;
}

.container h1 span {
    padding: 6px 14px;
    display: inline-block;
}

.cen {
    margin: 20px;
    display: block;
    font-size: 22px;
    padding: 0.75em;    
}

/* Botón de "Conócenos" */
.button {
    color: black;
    font-weight: 900;
    padding: 10px;
    background: white;
    text-decoration: none;
    border-radius: 12px;
    transition: .6s;
    padding: .8em;
}

.button:hover {
    opacity: .6;
}

.article-text {
    width: 95%;
    margin: auto;
}

.article-text h2 {
    font-weight: bold;
    width: 80%;
    text-align: center;
}

.text-container ul {
    list-style-position: inside;
}

/* Estilo del footer */
.footer {
    font-family: 'Roboto', sans-serif;
    margin-top: 1.3em;
    background-color: #0F1A20;
    padding: 1.5em;
}

.footer p {
    color: rgb(223, 233, 241);
    margin-bottom: 0;
}

.footer__p {
    margin-top: 0.8rem;
}

/* Estilos del link de contacto */
.contacto {
    color: rgb(188, 193, 197);
    font-weight: 600;
    text-decoration: underline;
}

.contacto:hover {
    color: rgb(151, 154, 156);
    font-weight: bolder;
    text-decoration: underline;
}
